<%= render "shared/header" %>

<div class="form-main">
  <div class="show-form-container">
    <%= image_tag @post.image, class:"show-image" %>
    <% @descriptions.each do |description| %>
    <%= description %>
    <% end %>
  </div>
</div>