.header_main {
  width: 100vw;
  height: 75px;
  background-color: #fff7ef;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header_left a {
  font-family: 'Benne', serif;
  text-decoration: none;
  color: #6c6c6c;
  font-size: 30px;
  padding-left: 50px;
}

.header_right a {
  font-family: 'Benne', serif;
  text-decoration: none;
  color: #6c6c6c;
  font-size: 20px;
  padding-right: 50px;
}